<div id="content_registration">
    <div class="container">
        <div class="row-fluid">
            <form class="form-signin">
                <div class="span4">
                </div>
                <div class="span4"><h2 class="form-signin-heading" style="color: dimgray">Registration</h2>
                    <table>
                        <tr>
                            <th></th>
                            <th>Your first name</th>
                        </tr>
                        <tr>
                            <th><i class="icon-user"></i></th>
                            <th><input type="text" class="input-block-level">Your last name</th>
                        </tr>

                        <tr>
                            <th><i class="icon-ok-circle"></i></th>
                            <th><input type="text" class="input-block-level">Login</th>
                        </tr>
                        <tr>
                            <th><i class="icon-thumbs-up"></i></th>
                            <th><input type="text" class="input-block-level">Email</th>
                        </tr>
                        <tr>
                            <th><i class="icon-envelope"></i></th>
                            <th><input type="text" class="input-block-level">Password</th>
                        </tr>
                        <tr>
                        <th><i class="icon-lock"></i></th>
                        <th><input type="password" class="input-block-level">Password confirmation</th>
                    </tr>
                        <tr>
                            <th><i class="icon-eye-close"></i></th>
                            <th><input type="password" class="input-block-level"></th>
                        </tr>
                    </table>
                    <button class="btn btn-default btn-inverse" style="margin-left: 25px" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>