<div id="content_page_main_materials" class="container">

    <ul class="nav nav-tabs">
        <li><a href="#">Materials</a></li>
        <li><a href="#">Users</a></li>
        <li class="active"><a href="#">Main materials</a></li>
    </ul>
    <div class="row">

    </div>

    <div class="row" style="height: 20px"></div>
    <table class="table table-striped">
        <tr>
            <th>Archived</th>
            <th>Important</th>
            <th>Title</th>
            <th>Preview</th>
            <th>Status</th>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>

        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
        <tr>
            <td><input type="button" value="Archive" class="btn btn-small btn-warning"></td>
            <td><input type="button" value="Mark" class="btn btn-small btn-danger"></td>
            <td>Lorem ipsum dolor sit</td>
            <td>Lorem ipsum dolor sit atem</td>
            <td>Archived</td>
        </tr>
    </table>

    <div class="paginator text-center">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>