<div id="content_page_admin_users" class="container">

    <ul class="nav nav-tabs">
        <li><a href="#">Materials</a></li>
        <li class="active"><a href="#">Users</a></li>
        <li><a href="#">Main materials</a></li>
    </ul>

    <div class="row">
        <div class="span6">
            <input type=button value="Add new" class="btn btn-success">
            <input type=button value="Delete" class="btn btn-danger">
        </div>
    </div>

    <div class="row" style="height: 20px"></div>
    <table class="table table-striped">
        <tr>
            <th>Select</th>
            <th>Change</th>
            <th>Name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Editor</td>
            <td>Active</td>

        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Autor</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Autor</td>
            <td>Deleted</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Corrector</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Admin</td>
            <td>Deleted</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Corrector</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Autor</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Autor</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Autor</td>
            <td>Active</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><a class="btn btn-mini btn-warning" href="#"><i class="icon-pencil"></i></a></td>
            <td>Lorem</td>
            <td>Ipsum</td>
            <td>Dolor</td>
            <td>Editor</td>
            <td>Active</td>
        </tr>
    </table>

    <div class="paginator text-center">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>