<div id="content_user_role">
    <div class="container">
        <div class="row-fluid">
            <form class="form-signin">
                <div class="span4">
                </div>
                <div class="span4"><h2 class="form-signin-heading" style="color: dimgray">User Role</h2>
                    <table>
                        <tr>
                            <th><i class="icon-user"></i></th>
                            <th><input type="password" class="input-block-level" placeholder="User"></th>
                        </tr>
                        <tr>
                            <th><i class="icon-lock"></i></th>
                            <th>
                                <select class="select-role">
                                <option>Administrator</option>
                                <option>Autor</option>
                                <option>Editor</option>
                                <option>Corector</option>
                                </select>
                            </th>
                        </tr>
                    </table>
                    <button class="btn btn-default btn-inverse" style="margin-left: 25px" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>