<div id="content_tags">
    <div class="container">
        <div class="row-fluid">
            <form class="form-signin">
                <div><h2 class="form-signin-heading" style="color: dimgray">Add new tag</h2>
                    <div class="span4"></div>
                    <div class="span4" style="text-align: center"> <table>
                        <tr>
                            <th><input type="checkbox">Tag 1</th>
                        </tr>
                        <tr>
                            <th><input type="checkbox">Tag 2</th>
                        </tr>
                        <tr>
                            <th><input type="checkbox">Tag 3</th>
                        </tr>
                        <tr>
                            <th><input type="checkbox">Tag 4</th>
                        </tr>
                        <tr>
                            <th><input type="checkbox">Tag 5</th>
                    </tr>
                        <tr>
                            <th><input type="checkbox">Tag 6</th>
                        </tr>
                    </table>
                        <button class="btn btn-default btn-inverse" style="margin-left: 25px,; margin-top: 10px"  type="submit">Submit</button>
                    </div>
                    <div class="span4"></div>


                </div>
            </form>
        </div>
    </div>
</div>