<div id="content_forgetpassword">
    <div class="container">
        <div class="row-fluid">
            <form class="form-signin">
                <div class="span4">
                </div>
                <div class="span4"><h2 class="form-signin-heading" style="color: dimgray">Forgot password?</h2>
                    <div class="span12"><h6 class="form-signin-heading" style="color: dimgray">Enter the email address you used to create the account and an email will be sent with a link you can use to reset your password</h6>
                    <table>
                        <tr>
                            <th><i class="icon-envelope"></i></th>
                            <th><input type="text" class="input-block-level" placeholder="Email"></th>
                        </tr>
                    </table>
                    <button class="btn btn-default btn-inverse" style="margin-left: 25px" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>