<div id="content_login">
    <div class="container">
        <div class="row-fluid">
            <form class="form-signin">
                <div class="span4">
                </div>
                <div class="span4"><h2 class="form-signin-heading" style="color: dimgray">Login PuzzleCMS</h2>
                    <table>
                        <tr>
                            <th><i class="icon-user"></i></th>
                            <th><input type="text" class="input-block-level" placeholder="User"></th>
                        </tr>
                        <tr>
                            <th><i class="icon-lock"></i></th>
                            <th><input type="password" class="input-block-level" placeholder="Password"></th>
                        </tr>
                    </table>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me">Remember me
                    </label>
                    <button class="btn btn-default btn-inverse" style="margin-left: 25px" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>