<div id="content_add_new_user">
    <div class="container">
        <div class="row-fluid">
            <form class="form-signin">
                <div class="span4">
                </div>
                <div class="span4"><h2 class="form-signin-heading" style="color: dimgray">Registration</h2>
                    <table>
                        <tr>
                            <th><i class="icon-user"></i></th>
                            <th><input type="text" class="input-block-level" placeholder="User"></th>
                        </tr>
                        <tr>
                            <th><i class="icon-lock"></i></th>
                            <th><input type="password" class="input-block-level" placeholder="Password"></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><select class="select-role">
                                <option>Role</option>
                                <option>Administrator</option>
                                <option>Author</option>
                                <option>Corrector</option>
                                <option>Editor</option>
                            </select>
                            </th>
                        </tr>
                    </table>
                        <button class="btn btn-default btn-inverse" style="margin-left: 25px" type="submit">Create
                        </button>
                </div>
            </form>
        </div>
    </div>
</div>