<div id="content_add_article">
    <div class="container">
        <div class="row-fluid">
            <form class="form-signin">
                <div class="span4">
                </div>
                <div class="span4"><h2 class="form-signin-heading" style="color: dimgray">New article</h2>
                    <table>
                        <tr>
                            <th></th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <th><i class="icon-user"></i></th>
                            <th><input type="text" class="input-block-level">Title</th>
                        </tr>

                        <tr>
                            <th></th>
                            <th>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="text" class="input-block-level">
                                <input type="text" class="input-block-level" placeholder="CKEditor">Keywords</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="text" class="input-block-level">Description</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="password" class="input-block-level">Link</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="password" class="input-block-level">Image name</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="password" class="input-block-level"></th>
                        </tr>
                    </table>
                    <button class="btn btn-default btn-inverse" style="margin-left: 25px" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>